
#headerSearch {
box-sizing: border-box;
border: none;
border-radius: 4px;
font-size: 16px;
position: absolute;
right: 0;
top: 15px;
background-color: grey;
padding: 12px 20px 12px 40px;
-webkit-transition: width 0.4s ease-in-out;
transition: width 0.4s ease-in-out;
padding-left: 10px;
width: 180px;

}

#headerSearch:focus {
  background-color: white;
  border: none;
  color: black;
  width: 400px;
  border-bottom: none;
  z-index: 70;
}

#headerSearchMobile {
  border: none;
  font-size: 16px;
  width: 100vh;
  background-color: white;
  z-index: 90;

}
#searchBarMobile {
  left: 0;
  width: 100vh;
}

#headerSearchMobile:focus {
  background-color: white;
  border: none;
  color: black;
  border-bottom: none;

}

@media only screen and (max-width: 992px) {
nav .brand-logo {
    left: 1%;
    -webkit-transform: translateX(-1%);
    transform: translateX(-1%);
}
}

@media only screen and (min-width: 992px) {
  h4 {
    margin: 1.1rem 0 .912rem 0;
  }
}

@media only screen and (max-width: 600px) {
  h4 {
    margin: 0.8rem 0 .912rem 0;
  }
}
