.activeTag {
  background-color: #ffffff !important;
  color: #000000 !important;
}

.category-list-item li > a {
  font-size: 14px;
}

.filter-container {
  margin-top: 20px;
}

.filter-container div {
  margin-bottom: 10px;
}
