/* Android App Banner */

#androidAppHeader {
  margin-bottom: 0px;
}

#androidAppHeader div * * div {
  margin-top: 20px;
}

#headerHeroDownload {
  margin-top: 20px;
  margin-bottom: 10px;
}

#headerHeroPublish h5 {
  margin-top: 10px;
  font-size: 20px;
}

/* Filter Setting UI */

.filterDropdowns {
  display: inline-flex;
  margin-top: 10px;
  margin-right: 10px;
}

#categoryInnerA {
  white-space: nowrap;
}

#filterUIRow {
  margin-top: 10px;
}


.activeTag {
  background-color: #ffffff !important;
  color: #000000 !important;
}

.chip {

}

.category-list-item li > a {
  font-size: 14px;
}

.filter-container {
  margin-top: 20px;
}

.filter-container div {
  margin-bottom: 10px;
}

.category-link-container {
  vertical-align: bottom;
  height: 36px;
  margin-top: 8px;
  overflow: hidden;
  line-height: 17px;
  color: #039be5;
  font-size: 12px;
}

.category-link-container span, .author-item, .app-item, .chip {
  cursor: pointer;
}

.author-item {
  color: #039be5;
}
