/* Android App Banner */

#androidAppHeader {
  margin-bottom: 0px;
}

#androidAppHeader div * * div {
  margin-top: 20px;
}

#headerHeroDownload {
  margin-top: 20px;
  margin-bottom: 10px;
}

#headerHeroPublish h5 {
  margin-top: 10px;
  font-size: 20px;
}

/* Filter Setting UI */

.filterDropdowns {
  display: inline-flex;
  margin-top: 10px;
  margin-right: 10px;
}

#categoryInnerA {
  white-space: nowrap;
}

#filterUIRow {
  margin-top: 10px;
}

.activeTag {
  background-color: #ffbe3c !important;
  color: #000000 !important;
}

.filter-item:hover {
  background-color: #e6e6e6;
  transition: background-color .3s ease-out
}

.category-list-item::-webkit-scrollbar {
  display: none;
}

.category-list-item li > a {
  font-size: 14px;
}

.filter-container {
  margin-top: 20px;
}

.filter-container div {
  margin-bottom: 10px;
}

.page-left {
  font-weight: 500;
  margin-right: 10px;
}

.page-right {
  font-weight: 500;
  margin-left: 10px;
}

.page-row {
  font-size: 16px;
  margin-bottom: 10px;
}

.chip {
  color: rgba(0,0,0,0.8);
  background-color: #cccccc;
}

.filterTitle {
  margin-bottom: 10px;
}

.filterTitle span {
  font-weight: 800;
}
