#about_card {
    position: relative;
    padding: 15px 32px 15px 32px;
    color: #212121;
    background-color: #fff;
    border-radius: 3px;

}
#about_card.tab {
    margin-top: 10px;
    margin-bottom: 10px;
}
#about_card .title {
    font-size: 16px;
    color: #f59714;
}
.hide {
    visibility: hidden;
}
.title i {
    position: relative;
    left: -10px;
}

#about_card .content {
    font-size: 14px;
    padding: 5px 20px 5px 20px;
    position: relative;
}
body {
background-color: #EEEEEE;

}
