<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="/static/css/details.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="/static/css/header.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="/static/css/index.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="/static/css/footer.css" media="screen,projection" />


    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="image_src" href="https://labs.xda-developers.com/static/images/ic_web.png">
    <meta name="thumbnail" content="https://labs.xda-developers.com/static/images/ic_web.png">
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "ImageObject",
            "contentUrl": "https://labs.xda-developers.com/static/images/ic_web.png"
        }

    </script>
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "Organization",
            "name": "XDA Labs {{ title }}",
            "image": "https://labs.xda-developers.com/static/images/ic_web.png",
            "url": "https://labs.xda-developers.com/",
            "logo": "https://labs.xda-developers.com/static/images/ic_web.png"
        }

    </script>
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-12268453-11', 'auto');
        ga('send', 'pageview');

    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>XDA Labs{{ title }}</title>
    <meta property="og:title" content="XDA Labs{{ title }} %}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://labs.xda-developers.com/" />
    <meta property="og:image" content="https://labs.xda-developers.com/static/images/ic_web.png" />
    <meta property="og:description" content="XDA Labs is a platform for independent Android development.  Support indie devs!" />
    <link rel="shortcut icon" href="https://labs.xda-developers.com/static/images/ic_web.png" type="image/x-icon">
    <meta name="theme-color" content="#424242">


</head>

<body>

    {% include "header.html" %}
    <main>
        <div class='row'>
            <!-- Might be cool to have a random color picked (from a pre-selected collection) for this background, as we don't have any image background with the current data -->
            <div style='min-height: 20vh; background-color: #424242;' class='col s12 center-align'>
            </div>

            <div class='col s12 center-align' style='margin-top: -130px;'><div class='container'>
                <div class="card"><div class="card-content"><img class="circle responsive-img" style="height: 100px;" src="{{ dev_image }}">
                <h4>Appy McAppyface</h4><h6>App Developer</h6><br>
                    <div class="row" style="padding-left: 200px; padding-right: 200px;">
                        <div class="col s4"><i class="material-icons small" style="color: #ff9800;">thumb_up</i><br>
                    <span>10K</span></div>
                        
                        <div class="col s4"><i class="material-icons small" style="color: #ff9800;">location_on</i><br>
                    <span>London</span></div>
                        
                        <div class="col s4"><a><i class="material-icons small" style="color: #ff9800;">help</i><br>
                    <span>Contact</span></a></div>
                    
                    </div></div>
                
                </div></div>

        </div>
        <!-- App Cards Area -->
        <div class="container">
            <div class="row">
                <div class="col s12 m6 l4 app-parent" data-package-name="{{ app.package_name }}">

                    <div class="card horizontal appCard">
                        <div class="app-item card-image">
                            <img class="appBannerImg" src="https://images.pexels.com/photos/464329/pexels-photo-464329.jpeg?h=350&auto=compress&cs=tinysrgb">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content appCardContent">
                                <div class="appTitle">
                                    <img class="app-item" src="https://maxcdn.icons8.com/Share/icon/Operating_Systems//android_os1600.png" />
                                    <span class="app-item">Appname McAppnameface</span>
                                </div>
                                <div class="appDetails">
                                    <div class="appRating">
                                        <span class="orange-text">&#x2605;</span> 4.9
                                    </div>
                                    <span data-dev-pk="{{ app.dev.pk }}" class="author-item">Appy McAppyface</span>
                                </div>
                                <div class="category-link-container">
                                    <span data-index="{{ category.id }}" class="category-item">Launcher</span>
                                    <span data-index="{{ category.id }}" class="category-item">Customization</span>

                                </div>                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>

        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/static/js/materialize.min.js"></script>
        <script>
            logged_in = {
                {
                    logged_in | lower
                }
            };
            search_term = '{{ search_term }}';

            StoreUrl = {
                sort_slug: "{{ filters.sort_slugname }}",
                category_id: {
                    {
                        filters.category_id
                    }
                },
                filters: {
                    "paid": {
                        {
                            filters.paid | lower
                        }
                    },
                    "watchlist": {
                        {
                            filters.watchlist | lower
                        }
                    },
                    "downloaded": {
                        {
                            filters.downloaded | lower
                        }
                    }
                },
                baseUrl: "/store/",
                url: this.baseUrl,
                author_pk: -1,
                page: 1,

                getSort: function() {
                    this.url += this.sort_slug + "/"
                    return this
                },

                addCategory: function() {
                    if (this.category_id >= 0) {
                        this.url += this.category_id + "/"
                    }
                    return this
                },

                addFilters: function() {
                    for (let f in this.filters) {
                        if (this.filters[f]) {
                            this.url += f + "/"
                        }
                    }
                    return this
                },

                addQueryParams: function() {
                    let param_dict = {}

                    let has_author = this.author_pk >= 0
                    let has_search = search_term !== ''
                    let has_page = this.page > 1
                    let has_params = has_author || has_search || has_page

                    if (has_author) {
                        param_dict['author'] = this.author_pk
                    } else if (has_search) {
                        search_str = $($.parseHTML(search_term)[0]).text()
                        param_dict['search'] = search_str
                    }
                    if (has_page) {
                        param_dict['page'] = this.page
                    }

                    if (has_params) {
                        this.url += "?" + $.param(param_dict)
                    }
                    return this
                },

                getUrl: function() {
                    return this.url
                },

                newUrl: function() {
                    this.url = this.baseUrl
                    return this
                },

                setSort: function(s) {
                    this.sort_slug = s
                    return this
                },
                setCategory: function(i) {
                    this.category_id = i
                    return this
                },
                setFilter: function(s, b) {
                    this.filters[s] = b
                    return this
                },
                setAuthor: function(i) {
                    this.author_pk = i
                    return this
                },
                setPage: function(s) {
                    this.page = s;
                }

            }

        </script>
        <script type="text/javascript" src="/static/js/scripts/index.js"></script>
    </main>

    {% include "footer.html" %}

</body>

</html>
