<header>
  <div class="navbar-fixed">
    <nav id="navbarHeader">
      <div class="hide" id="hiddenSearchMobile">
        <form id="mobileSearchForm" action="/" class="brand-logo">
          <input id="headerSearchMobile" type="text" name="search" placeholder="Search...">
        </form>
        <div id="headerSearchResultsMobile" class="card card-stacked card-content searchResultsMobile flow-text">
        </div>
      </div>
      <div class="nav-wrapper container">
        <div class="brand-logo" id="logo">
          <a href="/">
            <img id="headerLogoImg" class="left" src="/static/images/ic_web.png" />
            <h4 class="right" id="logotitle"><b><span>xda</span>labs</b></h4>
          </a>
        </div>
        <form id="desktopSearchForm" action="/"class="hide-on-med-and-down brand-logo right">
          <input id="headerSearch" autocomplete="off" type="text" name="search" placeholder="Search...">
            <div id="headerSearchResults" class="card card-stacked card-content searchResults flow-text">
            </div>
        </form>

        <div id="searchIconCont" class="brand-logo right hide-on-large-only"><i id="searchIcon" class="medium material-icons">search</i></div>

        {% with logout_url="/store/logout/" login_text="Login" logout_text="Logout" %}

        <div class="brand-logo right hide-on-large-only">
            <a href="{% if logged_in %}{{ logout_url }}{% else %}{{ xda_authorize_url }}{% endif %}">
                <i id="mobileSigninIcon" class="medium material-icons">account_circle</i>
            </a>
        </div>

        <a href="{% if logged_in %}{{ logout_url }}{% else %}{{ xda_authorize_url }}{% endif %}">
            <h6 id="desktopSigninText" class="hide-on-med-and-down right brand-logo">{% if logged_in %}{{ logout_text }}{% else %}{{ login_text }}{% endif %}</h6>
        </a>

      {% endwith %}

      </div>
    </nav>
  </div>

</header>
<script type="text/javascript" src="/static/js/scripts/header.js"></script>
