<header>
  <div class="navbar-fixed">
    <nav id="navbarHeader">
      <div class="nav-wrapper container">
        <div class="brand-logo" id="logo" style="height: 100%; display: inline-block; position: relative;">
          <a href="/">
            <img style="height: 100%;" class="left" src="/static/images/ic_web.png" />
            <h4 class="right" id="logotitle" style="margin-left: 5px;"><b><span style="color: #ff9800;">xda</span>labs</b></h4>
          </a>
        </div>
        <form style="margin-right: 80px; margin-top: -5px;" class="hide-on-med-and-down brand-logo right">
          <input id="headerSearch" type="text" name="search" placeholder="Search...">
        </form>

        <div class="brand-logo right hide-on-large-only" style="right: 60px;"><i id="searchIcon" class="medium material-icons" style="font-size: 2rem">search</i></div>



        <div class="brand-logo right hide-on-large-only"><i class="medium material-icons" style="font-size: 2rem">account_circle</i></div>

        {% if logged_in %}
          <a href="/logout/"><h6 class="hide-on-med-and-down right brand-logo" style="font-size: 1.6rem; margin-top: 20px; color: #ffffff;">Logout</h6></a>
          {% else %}
          <a href="{{ xda_authorize_url }}"><h6 class="hide-on-med-and-down right brand-logo" style="font-size: 1.6rem; margin-top: 20px; color: #ffffff;">Login</h6></a>
        {% endif %}

      </div>
      <div class="hide" id="hiddenSearch"><form style="z-index: 100; width: 100%; top: 0; left: 0;" class="brand-logo">
        <input id="headerSearchMobile" type="text" style="width: 100%; margin-top: -20px; padding-left: 20px;  background-color: white;" name="search" placeholder="Search...">
      </form></div>
    </nav>
  </div>

</header>
<script>
var varX = document.getElementById("hiddenSearch").innerHTML;
document.getElementById("searchIcon").addEventListener("click", function(){
  document.getElementById("navbarHeader").innerHTML = varX;
 });

</script>
