<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper container">
        <div class="brand-logo" id="logo" style="display: inline-block; position: relative;"><img style="height: 60px;" class="left" src="/static/images/ic_web.png" />
          <h4 class="right" id="logotitle" style="margin-left: 5px;"><b><span style="color: #ff9800;">xda</span>labs</b></h4>

        </div>
        <form style="margin-right: 80px; margin-top: -5px;" class="hide-on-med-and-down brand-logo right">
          <input id="headerSearch" type="text" name="search" placeholder="Search...">
        </form>

        <div class="brand-logo right hide-on-large-only" style="right: 60px;"><i id="searchIcon" class="medium material-icons" style="font-size: 2rem">search</i></div>



        <div class="brand-logo right hide-on-large-only"><i class="medium material-icons" style="font-size: 2rem">account_circle</i></div>

        <h6 class="hide-on-med-and-down right brand-logo" style="font-size: 1.6rem; margin-top: 20px; color: #ffffff;">Login</h6>

      </div>
      <form id="searchBarMobile" class="hide-on-large-only brand-logo hide">
        <input id="headerSearchMobile" type="text" style="padding-left: 20px; background-color: white;" name="search" placeholder="Search...">
      </form>
    </nav>
  </div>

</header>
<script>
document.getElementById("searchIcon").addEventListener("click", function(){
  document.getElementById("searchBarMobile").classList.toggle("hide");
 });

</script>
