<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="/static/css/xda.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="/static/css/index.css" media="screen,projection" />

  <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="image_src" href="{{ banner_square_url }}">
  <meta name="thumbnail" content="{{ icon_url }}">
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "ImageObject",
      "contentUrl": "{{ banner_square_url }}"
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "XDA Labs | {{ title }}",
      "image": "{{ banner_square_url }}",
      "url": "https://labs.xda-developers.com/store/app/{{ package_name }}",
      "logo": "{{ icon_url }}"
    }
  </script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-12268453-11', 'auto');
    ga('send', 'pageview');

  </script>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>XDA Labs | {{ title }}</title>
  <meta property="og:title" content="XDA Labs | {{ title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://labs.xda-developers.com/store/app/{{ package_name }}" />
  <meta property="og:image" content="{{ banner_square_url }}" />
  <!-- Might be nice to have a short blurb description in each app's data for this bit of metadata
    <meta property="og:description" content="A redesign of the XDA Labs app page. Fully responsive Material Design." />
  -->
  <link rel="shortcut icon" href="{{ icon_url }}" type="image/x-icon">
  <meta name="theme-color" content="#424242">


</head>

<body>

  {% include "header.html" %}

      <div class="row grey darken-2" style="margin-bottom: 0px">
        <div class="container">
        <div class="col s12">
          <div class="row" style="margin-top: 20px;">
            <div class="col s8">
              <h5 class="white-text">Support independent Android development</h5>
            <p class="white-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Find out more..</p>
            </div>
            <div class="col s4 center">
              <h5 class="white-text">Publish my App</h5>
              <a class="waves-effect waves-light btn white black-text" style="margin-top: 20px;">Download Labs</a>
            </div>
          </div>
        </div>
      </div></div>
      <div class="row grey darken-1">
      <div class="container">

        <div class="col s12">
          <div class="row" style="padding-top: 20px;">
            <div class="col s12 center">
                <a class='dropdown-button btn white black-text' href='#' data-activates='dropdown1'>Popular Apps</a>
                <ul id='dropdown1' class='dropdown-content'>
                  <li><a class="black-text" href="#!">Last Update</a></li>
                  <li><a class="black-text" href="#!">Ratings</a></li>
                  <li><a class="black-text" href="#!">Name</a></li>
                </ul>
                <a class='dropdown-button btn white black-text' href='#' data-activates='dropdown2'>Categories</a>
                <ul id='dropdown2' class='dropdown-content'>
                  <li><a class="black-text" href="#!">Category 1</a></li>
                  <li><a class="black-text" href="#!">Category 2</a></li>
                  <li><a class="black-text" href="#!">Category 3</a></li>
                </ul>
                <div class="chip" style="margin-left: 10px;">Paid</div>
                <div class="chip" style="margin-left: 10px;">Watchlist</div>
                <div class="chip" style="margin-left: 10px;">Downloaded</div>
            </div>

          </div>
        </div>
      </div>
    </div>
      <div class="container">
        <div class="row">
          {% with card_title="App title superapp long title that is just way too long" card_dev_name="Dev name goes here" %}
          {% for i in "xxxx" %}
          <div class="col s4">

            <div class="card horizontal" style="max-height: 200px;">
              <div class="card-image">
                <img style="width: 100%; height: 200px; object-fit: cover;" src="https://labs-public-dl.xda-cdn.com/images/b11200e2-d0cf-4e93-90b0-b9328597dcf4.png">
              </div>
              <div class="card-stacked">
                <div class="card-content">
                  <div style="padding-right: 30px; margin-bottom: -10px;"><span style="word-wrap: break-word; font-size: 1.2rem;">{{ card_title|truncatechars_html:30 }}</span></div><br>
                  <span style="font-size: 0.8rem">{{ card_dev_name|truncatechars_html:20 }}</span><br>
                  <span class="orange-text">&#x2605;</span> 4.5<br>
                  <span>Categories</span>
                  <img style="margin: 10px; height: 50px; width: 50px; position: absolute; top: 0; right: 0;" src="https://labs-public-dl.xda-cdn.com/images/6d9ad3c5-f720-4580-b9cc-ce643186c25b.png" />
                </div>

              </div>
            </div>
          </div>
          {% endfor %}

          {% endwith %}


        </div>
      </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/materialize.min.js"></script>
    <script>
      $(document).ready(function() {
        runSlide();
        fetchForumData();
      });

      let num = '{{ screenshots|length }}';
      let count = 2;

      function runSlide() {
        setInterval(swapSlide, 5000);
      }

      function swapSlide() {
        for (let i = 1; i <= num; i++) {
          let image = $('.img' + i);
          if (count === i) {
            image.removeClass('hide');
          } else {
            image.addClass('hide');
          }
        }
        count++;
        if (count > num) {
          count = 1;
        }
      }
      function parseUnixTimestamp(ts) {

          var d = new Date(ts * 1000);

          var month = ("0" + (d.getMonth() + 1)).slice(-2);
          var day = ("0" + d.getDate()).slice(-2);
          var year = d.getFullYear();

          var time = formatAMPM(d);
          var result = month.toString() + "/" + day.toString() + "/" + year.toString();
          result += " " + time;

          return result;
      }
      function formatAMPM(date) {
          var hours = date.getHours();
          hours = hours + 5;
          var minutes = date.getMinutes();
          var ampm = hours >= 12 ? 'PM' : 'AM';

          hours = hours % 12;
          hours = hours ? hours : 12; // the hour '0' should be '12'
          minutes = minutes < 10 ? '0' + minutes : minutes;
          var strTime = hours + ':' + minutes + " " + ampm;
          return strTime;
      }

      function fetchForumData() {
          var thread_id = '{{ xda_thread_id }}';
          if (thread_id === '') return;

          $("#xda_thread_error").addClass("hide");
          $("#xda_thread_loading").removeClass("hide");

          $.getJSON("https://api.xda-developers.com/v2/threads/threadinfo?threadid=" + thread_id, function (r) {
              $("#xda_thread_data").removeClass("hide");
              $("#xda_thread_error").addClass("hide");
              $("#xda_thread_loading").addClass("hide");

              $(".xda-thread-title").html(r.title);

              // Last post
              $("#last_post").attr("href", "http://forum.xda-developers.com/showthread.php?p=" + r.lastpostid);
              console.log(r.lastpostid)
              $("#last_post").text(parseUnixTimestamp(r.lastpost.dateline));

              // Last post by
              $("#last_poster").attr("href", "http://forum.xda-developers.com/member.php?u=" + r.lastpost.userid);
              $("#last_poster").text(r.lastpost.username);

              // Reply count
              $("#reply_count").text(r.replycount);

              // View count
              $("#view_count").text(r.views);

          }).error(function (e) {
              $("#xda_thread_error").removeClass("hide");
              $("#xda_thread_loading").addClass("hide");
              $("#xda_thread_try_again").click(fetchForumData)
          });
      }


    </script>
  <footer class="page-footer transparent">
    <div class="footer-copyright grey darken-3">
      <div class="container">
        XDA Labs, an XDA service</a>
      </div>
    </div>
  </footer>

</body>

</html>
